.container {
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  
}

.title {
  font-family: 'Arial Black', sans-serif;
  font-size: 60px;
  text-align: left;
  margin-bottom: 20px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  
}

.form-group {
  width: 48%;
}

.form-container button {
  width: 30%;
}

label {
  font-weight: bold;
}


.feedback {
  color: red;
  margin-top: 5px;
  font-size: small;
}

.feedback.valid {
  color: green;
}

@media (max-width: 767px) {

.container {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  
}

  .title {
    font-size: 30px;
}

.form-container {
  width: 600px;
  margin: 0;
}

  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 50%;
  }
}
